.rightPane{
    flex: 3;
    overflow-y: scroll;
    height: calc(90vh - 40px);
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: rgb(192, 200, 206);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(161, 167, 172);
}
.addImage{
    width: 400px;
    height: 200px;
    border-radius: 5px;
}
.rightPane{
    margin-top: 20px;
}

.sponsered{
    font-size: 20px;
    font-weight: bold;
    color: rgb(99, 93, 93);
    
}

.postContainer{
    font-family: 'Open Sans',sans-serif;
}

.birthdayContainer{
    display: flex;
    align-items: center;
    background-color: blue;
    margin: 10px;
}

.birthdayImage{
height: 50px;
 width: 50px;
 
 margin-right: 10px;

}
.friendList{
    margin-top: 20px;
}
.onlineFriend{
    border-radius: 5px;
    margin: 8px;
    list-style: none;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.14); 
    box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.14);
}
.onlineStatus{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: lawngreen;
    position: absolute;
    top: 20px;
    right: 0;
    
   
    
}
.OnlineFrienImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;    
}
.onlineFriendcontainer{
    position: relative;
    display: flex;
    margin-left: 5px;
}
.OnlineFriendName{
    margin-left: 10px;
}